*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font1);
}
:root{
    --font1:'Poppins', sans-serif;
    --font2:'Sentient', serif;
    --font3:'Pencerio', cursive;
}


.header{
    font-family: var(--font2);
    font-weight: 700;
}
.sub-title{
    font-family: var(--font2);
}

.sign{
    font-family: var(--font3);
}

.cardy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 100%;
  position: relative;
}

.img{
    position: relative;
}

.img::before{
    content:"😁";
    position: absolute;
    x-index:;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #3d3b3b;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #585757;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
}

 
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.bed{
    background-image: url('/images/hero/pexels-igor-starkov-1307698.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}